<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager</title>
  </head>
  <body>
    <h1>Bookmark Manager</h1>

    <form action="/bookmarks/new" method="get">
      <button type="submit">Add Bookmark</button>
    </form>

    <ul>
      <% @@bookmarks.all.each do |bookmark| %> 
        <li><%= bookmark %></li> 
      <% end %>
    </ul>
  </body>
</html>
