<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager</title>
  </head>
  <body>
    <form action="/bookmarks/create" method="post">
    <label for="title">Title of URL (this is what will be displayed)</label><br>
    <input id="title" type="text" name="title"><br><br>
    <label for="url">URL to be bookmarked</label><br>
    <input id="url" type="text" name="url"><br><br>
    <button type="submit">Submit</button>
    </form>
  </body>
</html>